
/*fuentes*/
@font-face {
  font-family: "cursiva";
  src: url("../fuentes/cursiva.ttf") format('truetype');}

@font-face {
  font-family: "lobster";
  src: url("../fuentes/lobster.ttf") format('truetype');}

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Varela+Round&display=swap');

body {
  background-image: url("../imagenes/tapiz.jpg");
  background-position: center;
  background-attachment: fixed;}

@media (min-width: 768px) and (max-width: 991px){
    body {
        background-image: none;
        background-color: #FDEBD0;}}

@media (min-width: 575px) and (max-width: 767px) {
  body {
      background-image: none;
      background-color: green;}
}

header {
    margin-bottom: 1%;
    background-color: #5a2420;
    width: 100%;
    height: 8vh;
    color: #FDEDEC;
    font-size: 1rem;
    font-family: "lobster";
    text-align: center;}

h1 {padding: 0.5%;margin: 0.5%;box-sizing: border-box;}

#nav{display: flex; justify-content: space-around;}

nav{
 background-color: #d27a74;
 margin-bottom: 1%;
 width: 100%;
 height: 11vh;}

.enlace{
	padding: 1vh;
	margin-top: 2vh;
	margin-right: 3vw;
	margin-left: 3vw;
  margin-bottom: 2vh;
	color:#81322d;
  font-family: "lobster";
	font-weight: bold;
	font-size: 1.5rem;
	overflow: hidden;
  border-radius: 16px;
  -webkit-transition: 1s linear;
  transition: 1s linear;
  background-color: #d27a74;}

.enlace:hover{background-color: #FDEDEC;font-size: 1.75rem;opacity: 0.5;}

form{font-weight: bold; margin:1%; font-family: 'Varela Round', sans-serif;}

.xx{font-weight: bold; font-size: 1rem;font-family: 'Varela Round', sans-serif;}

.xx:hover{font-size: 1.3rem;}

.boton-inicio{
  margin: 1%;
  color:#81322d;
  font-family: "lobster";
  font-weight: bold;
  font-size: 1.5rem;
  border: 2px solid #81322d;
  border-radius: 8px;
  text-decoration: none;
  background-color:#FDEDEC;
  padding: 0.25%;
  -webkit-transition: 1s linear;
  transition: 1s linear;}

.boton-inicio:hover{background-color:#d27a74 ; font-size: 1.75rem;opacity: 0.5;}

.div1 {
  display: flex;
  flex-direction: column;
  align-items: center;
	text-align: center;
  padding: 0.5%;
  background-color: #81322d;
  box-sizing: content-box;
  margin-bottom: 1%;
	width: 99%;
  height: 14vh;
	font-weight: inherit;
  font-style: normal;
  color: #FDEDEC;
	font-size: 0.9rem;
  overflow: visible;
  font-family: 'Varela Round', sans-serif;}

audio{
  width: 20%;
  height: 5vh;
  padding: 0.5%;
  margin: 0.5%;}

main{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1%;}

section {
    background-color: #FDEDEC;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    margin-right: 0.5%;
    padding: 1%;
    width: 34%;
    border: 2px solid #81322d;
    border-radius: 2.5px;
    height: 100vh;
    overflow: visible;
    font-size: 1em;
    font-family: 'Varela Round', sans-serif;}

aside {
    background-color: #FDEDEC;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    border: 2px solid #81322d;
    border-radius: 2.5px;
    margin-left: 0.5%;
    padding: 1%;
    overflow: visible;
    width: 64%;
    height: 1s0x12cdd0106a852d31vh;
    font-size: 1em;
    font-family: 'Varela Round', sans-serif;}

@media (max-width: 767px) {
  aside{opacity:0; }
}

.comentarios {display: flex;justify-content: center;}

article {
    background-color: #FDEDEC;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #81322d;
    border-radius: 2.5px;
    padding: 1%;
    width: 98%;
    height: 90vh;
    text-align: center;
    font-size: 0.9rem;
    font-family: 'Varela Round', sans-serif;}

h2{color: #81322d; font-size: 1.5rem; font-weight: bolder; text-decoration: underline;font-family: "lobster";}

h2:hover{font-size: 1.6rem; color: #d27a74;}

h4{color: #81322d; font-size: 1.2rem; font-style: italic; font-weight: normal; text-align: center;}

.parent{text-align: center;}

.img1{width: 55%;height: 100%;}

.img2{width: 55%;height: 100%;}

iframe {width: 30%;height: 30%; border-radius: 3px;}

iframe:hover{width: 32%;height: 32%; border-radius: 3px;}

footer {
  background-color: #d27a74;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1%;}

.redes_sociales {
  margin-top: 2%;
  margin-right: 2%;
  margin-left: 2%;
  margin-bottom: 2%;
  display:flex;
  align-items: center;
  justify-content: space-between;}

.redes {
  width: 3vw;
  height: 6vh;
  -webkit-transition: 1s linear;
  transition: 1s linear;
  background-color: #d27a74;
  border-radius:10px; }

.redes:hover {width: 4vw;height: 8vh;
  -webkit-box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
  box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);}

.boton-wsp {
  position: fixed;
  z-index: 999;
  bottom: 2%;
  right: 2%;}

.boton{
  width: 3.5vw;
  height: 7vh;
  -webkit-transition: 1s linear;
  transition: 1s linear;
  background-color: #33CC33;
  border-radius: 10px;}

.boton:hover{
  width: 4vw;height: 8vh;
  -webkit-box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
  box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);}
